* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 6em;
  background: linear-gradient(#e43834, #da543f, #121212);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

h5 {
  color: #e43834;
  text-align: center;
  margin-bottom: 1em;
}

h4 {
  color: #e43834;
  margin-bottom: 1em;
}

h3 {
  color: white;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
  background-color: #121212;
  color: white;
  /* min-width: 400px; */
  font-family: 'Noto Sans SC', sans-serif;
}

header {
  /* height: ; */
  padding: 10px;
  background-color: rgb(201, 48, 1);
  margin-bottom: 1.5em;
}

header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  width: 40%;
}

#pesquisa {
  height: 2em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.205);
  border: none;
  border-radius: 2px 0px 2px 0px;
  padding: 5px;
}

#pesquisa::placeholder {
  color: black;
}

.btn-pesquisa {
  width: 2.5em;
  height: 2em;
  border: none;
  background-color: black;
  border-radius: 0px 2px 2px 0px;
  color: white;
  padding: 2px;
}

.btn-icons {
  border: none;
  width: 60px;
  height: 60px;
  padding: 3px;
  border-radius: 50%;
  background-color: inherit;
  color: white;
  font-size: 2em;
}

.carrinho {
  background-color: rgba(255, 255, 255, 0.26);
}
header a {
  align-items: center;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

a:visited {
  color: white;
}

#login p {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  margin-bottom: 0;

  /* 
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center; */
}

#minhaConta {
  color: rgb(248, 175, 86);
}

#minhaConta:hover {
  color: white;
}

.corpo {
  width: 80%;
  min-height: 65%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2em;
}

#timerT {
  font-size: 1.5em;
  text-shadow: 2px 2px #000000;
  color: #e43834;
}

#timer {
  display: flex;
  margin: 0 auto;
  width: 60%;
  justify-content: space-between;
}

#timer .col {
  display: flex;
  justify-content: center;
}

.bxTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bxTimer div {
  display: flex;
  width: 7em;
  height: 7em;
  background-color: #0d0d0d;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0);
}

.bxTimer div span {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3.5em;
  text-shadow: 2px 2px #000000;
  text-align: center;
  justify-content: center;
}

#days {
  color: #e43834;
}

.bxTimer p {
  margin-top: 0.5em;
  display: flex;
  font-size: 0.8em;
  justify-content: center;
}

#cadastro {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.formCadastro {
  display: flex;
  align-items: center;
}

.formCadastro div {
  margin-bottom: 0.8em;
}

.formCadastro input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 5px;
  padding-left: 8px;
  color: white;
  height: 1.8em;
}

footer {
  background-color: #0c0c0c;
  color: #c1c1c1;
}

footer ul {
  list-style: none;
  padding: 0 1em;
  margin: 0 !important;
}

footer li a {
  color: #c1c1c1 !important;
}

footer li a:hover {
  color: #ffffff !important;
}

footer img {
  width: 80%;
  display: flex;
  justify-content: center;
}

.footer {
  padding: 1.5em 2.5em 0.5em 2.5em;
}

.footer div {
  margin-bottom: 1em;
}



#copyright a:hover {
  color: rgb(248, 175, 86);
}

#copyright {
  background-color: #000000 !important;
  padding: 0.5em;
  margin: 0;
}

#copyright div {
  display:flex;
  flex-direction: column;
  align-content: center;
}

#copyright div span {
  text-align: center;
}

#dBy {
  font-size: 0.7em;
}

#fPag {
  display: flex;
  justify-content: center;
}

#redesSociais {
  display: flex;
  justify-content: space-around;
}

#redesSociais i {
  color: rgb(248, 175, 86);
  font-size: 3em !important;
}

@media (max-width: 600px) {
  h1 {
    font-size: 5em;
  }

  h6 {
    font-size: 0.8em;
  }
  .corpo {
    width: 90%;
  }

  .bxTimer div {
    width: 5em;
    height: 5em;
  }

  .bxTimer div span {
    font-size: 2.5em;
    text-align: center;
    justify-content: center;
  }

  .bxTimer p {
    display: flex;
    font-size: 0.7em;
    justify-content: center;
  }

  header img {
    width: 90%;
  }

  .btn-icons {
    width: 35px;
    height: 35px;
    padding: 1px;
    font-size: 1em;
  }

  #login span {
    display: none;
  }

  #produtos {
    margin: 0 auto;
    width: 90% !important;
    display: flex;
    flex-direction: column;
  }
 

  /* #copyright {
    font-size: 0.6em;
  } */
}

@media (max-width: 800px) {
  .corpo {
    width: 90%;
  }

  .bxTimer div {
    width: 5.5em;
    height: 5.5em;
  }

  .bxTimer div span {
    font-size: 2.5em;
    text-align: center;
    justify-content: center;
  }

  .bxTimer p {
    display: flex;
    font-size: 0.7em;
    justify-content: center;
  }

  header img {
    width: 90%;
  }

  #redesSociais i {
    color: rgb(248, 175, 86);
    font-size: 2em !important;
  }
}

#produtos {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #0d0d0d;
  padding: 1em;
  border-radius: 0.5em;
}

.produtos img {
  width: 100%;
  border-radius: 0.5em;
}

.first {
  margin-bottom: 1em;
}

.produtos div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media (min-width: 3000px) {
 .corpo {
   min-height: 100%;
   width: 70%;
 }

 header {
   display: flex;
   justify-content: center;
 }
 
 header div {
   width: 70%;
   margin: 0 auto;
 }

 .footer {
  width: 70%;
  margin: 0 auto;
 }
 
}
